/* results.css */

/* Final Movie Selection Container */
#final-selection {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff; 
    border-radius: 5px;
}

#final-selection h2 {
    margin-bottom: 30px;
    border-bottom: none; 
}

#final-selection h3 {
    margin-bottom: 20px;
    font-size: 24px; /* ensures consistency */
}

#final-selection p {
    margin-bottom: 10px;
    font-size: 18px; 
    color: #333;
}

/* Vote Results*/
#vote-results {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 5px; 
}

#vote-results h2 {
    margin-bottom: 30px;
    border-bottom: none;
    text-align: center;
}

#vote-results ul {
    list-style: none;
    padding-left: 0;
}

#vote-results li {
    margin-bottom: 10px;
    font-size: 16px; 
    color: #333;
}
